header
  position: relative

// Menu Button  
.menu-btn
  position: absolute
  z-index: 3
  left: 35px
  top: 35px
  cursor: pointer
  @include easeOut

  &:hover .btn-line
    background: $sierra-orange
    @include easeOut

  .btn-line
    width: 28px
    height: 3px
    margin: 0 0 5px 0
    background: $sierra-black
    @include easeOut

  //Rotate line into X
  &.close
    transform: rotate(180deg)

    .btn-line
      // line 1 - rotate
      &:nth-child(1)
        transform: rotate(45deg) translate(5px, 5px)
      
      // line 2 - hide
      &:nth-child(2)
        opacity: 0
      
      // line 3 - rotate
      &:nth-child(3)
        transform: rotate(-45deg) translate(7px, -6px)

.logo
  display: block
  margin: 0 auto 
  width: 225px

  svg
    height: 50px
    padding: 15px 0

  a svg .cls-1
    @include easeOut

  a:hover svg .cls-1
    fill: $sierra-orange
    @include easeOut
  
.social
  display: block 
  position: absolute
  top: 35px
  right: 35px
  font-size: 1.25rem

  a
    color: $sierra-black
    text-decoration: none
    @include easeOut
  
    &:hover
      color: $sierra-orange

.menu
  width: 100%
  height: 0
  display: block
  overflow: hidden
  background: linear-gradient(90deg, rgba(149,113,255,1) 0%, rgba(117,125,224,1) 25%, rgba(113,146,223,1) 50%, rgba(107,101,199,1) 75%, rgba(149,113,255,1) 100%)
  @include easeOut
  

  &.show
    height: 200px
    @include easeOut

.menu-nav
  display: block
  margin: 0
  padding: 0
  list-style-type: none
  @include easeOut

  .nav-item
    a
      display:  block
      margin: 0 auto
      padding: 0 0 5px 35px
      @include easeOut
      border-bottom: 5px #ffffff solid
      font-size: 24px
      color: #fff
      

      &:hover
        background-color: $sierra-orange
        @include easeOut

      
      
@media screen and (max-width: 600px)
    .menu-btn
      right: 35px
      left: unset

    .logo
      margin: 0 35px
      svg
        padding-bottom: 0

    .social
      position: static
      margin: 10px 35px

      a
        margin-right: 10px


