.hero
  position: relative
  margin: 0
  background: $sierra-purple-light url(../img/waterfall.jpg) no-repeat
  background-size: cover
  background-position: center 
  z-index: 0
  overflow: hidden
  height: calc(100vh - 80px)
  min-height: 300px
  width: 100%
  text-align: center
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%)
  
  @media screen and (max-width: 800px)
    background-image: url(../img/waterfall800.jpg)
  
  @media screen and (max-width: 450px)
    background-image: url(../img/waterfall450.jpg)
    
  h1
    display: block
    margin: 0 auto
    color: #ffffff
    font-size: 2.5rem
    letter-spacing: .2ch
    text-shadow: 2px 2px 5px rgba(0,0,0,0.75)
    padding-top: 15vh

  p
    display: block
    font-size: 1rem
    text-shadow: 2px 2px 5px rgba(0,0,0,0.75)
    letter-spacing: .2ch
    color: #ffffff
    padding: 5px 0
    margin: 5px auto

  
  
  .btn
    display: inline-block
    background: #2A7A2A
    color: white
    font-size: 1rem
    font-weight: 700
    padding: 10px 10px
    border-radius: 5px
    margin: 5px auto
    @include easeOut
    @include boxShadow

    &:hover
      background: #82D982
      @include easeOut

@media screen and (max-width: 400px)
  .hero
    height: calc(80vh - 80px)
    min-height: unset
    clip-path: unset

    
 